/* tourStyles.css */
.reactour__badge {
	background-color: #ffb57f !important;
	color: #333 !important;
}

.reactour__mask {
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.reactour__popover {
	border-radius: 15px;
	padding: 15px;
	background-color: #fff;
}

.reactour__arrow {
	border-color: #ffb57f !important;
}
