.title {
	color: var(--primary-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
}

.text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--color-accent);
	font-weight: 500;
}

.error {
	.title {
		color: var(--color-error);
	}

	.text {
		color: var(--light-red);
	}
}

.success {
	.title {
		color: var(--color-success);
	}

	.text {
		color: var(--green);
	}
}

.main {
	.title {
		color: var(--color-alert);
	}

	.text {
		color: var(--main-color);
	}
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.size_s {
	.title {
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
	}

	.text {
		font-size: var(--font-size-s);
		line-height: var(--font-line-s);
	}
}

.size_m {
	.title {
		font-size: var(--font-size-l);
		line-height: var(--font-line-l);
	}

	.text {
		font-size: var(--font-size-s);
		line-height: var(--font-line-s);
	}
}

.size_l {
	.title {
		font-size: var(--font-size-l);
		line-height: var(--font-line-l);
	}

	.text {
		font-size: var(--font-size-m);
		line-height: var(--font-line-m);
	}
}

.size_xl {
	.title {
		font-size: var(--font-size-xl);
		line-height: var(--font-line-xl);
	}

	.text {
		font-size: var(--font-size-l);
		line-height: var(--font-line-l);
	}
}
