:root {
	//s
	--font-size-s: 12px;
	--font-line-s: 20px;
	--font-s: var(--font-size-s) / var(--font-line-s);

	// m
	--font-size-m: 16px;
	--font-line-m: 24px;
	--font-m: var(--font-size-m) / var(--font-line-m);

	// l
	--font-size-l: 24px;
	--font-line-l: 32px;
	--font-l: var(--font-size-l) / var(--font-line-l);

	// xl
	--font-size-xl: 40px;
	--font-line-xl: 48px;
	--font-xl: var(--font-size-xl) / var(--font-line-xl);

	//size
	--sidebar-width: 250px;
	--sidebar-width-collapsed: 100px;
	--navbar-height: 70px;
	--button-border-radius: 9px;
	--modal-z-index: 100;
	--animation-delay: 0.2s;

	//colors
	--color-white: #fff;
	--color-black: #000;
	--color-gray-2: #BDBDBD;
	--color-gray-3: #828282;
	/* Background Colors */
	--color-bg-1: #f2e4d4;
	--color-bg-2: #f8f4f0;
	--color-bg-3: #fdfdfd;
	--color-bg-accent: #FFEDE0;
	/* Accent Colors */
	--color-accent: #272727;
	/* Secondary Colors */
	--color-secondary: ##f8f8f8;
	/* Decorative Colors */
	--color-decor-1: #fff7dc;
	--color-decor-2: #ffb57f;
	--color-decor-3: #ffe8a3;
	--color-decor-4: #f8f8f8;
	--color-decor-5: #ffede0;
	--color-decor-6: #f3f3f3;
	/* Alert Colors */
	--color-alert: #f3e774;
	--color-success-10: #99ff90;
	--color-success-4: #c0ffbb;
	--color-success-1: #e4ffe2;
	--color-success-text:#8EBB8B,
	--color-error-10: #ff9090;
	--color-error-4: #ffc9c9;
	--color-error-1: #ffe3e3;
	--color-error-text:#B78787,

}
