@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-height: 100%;
	color: var(--primary-color);
	// background: repeating-linear-gradient(
	// 		var(--background-color),
	// 		var(--background-color) 20px,
	// 		transparent 22px
	// 	),
	// 	repeating-linear-gradient(
	// 		90deg,
	// 		var(--background-color),
	// 		var(--background-color) 20px,
	// 		transparent 22px
	// 	);
	font-size: calc(10px + 4 * (100vw - 320px) / 880);
	background: var(--background-color);
}

.isCollapsedMobile {
	margin-left: 0;
}
