@import 'reset';
@import 'global';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-height: 100vh;
	color: var(--color-accent);
	height: auto;
	font-size: calc(10px + 4 * (100vw - 320px) / 880);
	background: var(--color-white);
}

.bg-content1 {
	background: none;
}
