.Sidebar {
	background: var(--elements-color);
	transition: width var(--animation-delay);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	padding: 7px;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 0 10px 5px var(--shadow-color);
}
.SidebarListItems {
	display: flex;
	flex-direction: column;
}
