.Sidebar {
  background: var(--elements-color);
  transition: width var(--animation-delay);
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: var(--navbar-height);
}

.collapsed {
  transition: all var(--animation-delay);
  width: var(--sidebar-width-collapsed);
}

.isHovered {
  opacity: 0.8;
}
.sidebarHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.addButton{
  margin: auto;
  .addIcon{
    font-weight: 100;
    color: var(--inverted-color);
  }
}
.SidebarCollapsed {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 30px;
  color: var(--elements-color);
}

.sidebarHovered {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  right: -35px;
  top: 50%;
}

.sidebarControl {
  display: flex;
  position: absolute;
  margin-top: auto;
  bottom: 20px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.switchers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    padding: 0;
    width: auto;
    height: auto;
    margin: 0;
  }
}

.arrow {
  width: 0.25rem;
  height: 0.7rem;
  transition: all var(--animation-delay);

  background: var(--primary-color);
  opacity: 0.5;
}

.arrowTop {
  border-radius: 10px 10px 0 0;
}

.arrowBottom {
  border-radius: 0 0 10px 10px;
}

.tooltiptext {
  width: 100px;
  background-color: var(--elements-color);
  color: var(--primary-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 205%;
  margin-left: -60px;
  display: none;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: -9px;
  top: 8px;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent var(--elements-color) transparent transparent;
}

.sidebarHovered:hover {
  .arrow {
    transition: all var(--animation-delay);
    border-radius: 10px;
    opacity: 1;
  }

  .arrowTop {
    background: var(--primary-color);
    transform: translateY(0.15rem) rotate(15deg);
  }

  .arrowBottom {
    background: var(--primary-color);

    transform: translateY(-0.15rem) rotate(-15deg);
  }

  .tooltiptext {
    display: block;
  }
}

.isCollapsed {
  .arrowHovered {
    transform: rotateY(180deg);
  }
}
.authButton{
  width: 100%;
}
.userProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avatar {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  .userIcon {
    color: var(--white);
  }
}
.email{
  width: 150px;

  p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.authControl {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--animation-delay);

  svg {
    margin-right: 10px;
  }
}
