.dark {
	--background-color: #000;
	--inverted-color: #c0c0c0;
	--primary-color: #ffffff;
	--secondary-color: #a6a6a6;
	--elements-color: #111111;
	--accent-color: #9966cc;
	--text-color: #e0e0e0;
	--light-red: #942140;
	--red: #63051e;
	--green: #5ea95e;
	--main-color: #e8f99b;
	--main-secondary-color: #2f311d;
	--gradient: radial-gradient(
		circle at -4% -12.9%,
		rgb(15 16 18) 0.3%,
		rgb(47 49 55) 90.2%
	);
}
