.app_dark_theme{
  --background-color: #232323;
  --primary-color: #4f4f4f;
  --secondary-color: #302b3a;
  --elements-color: #121212;
  --accent-color: #5261b1;
  --text-color: #bab3d4;
  --light-red: #942140;
  --red:#63051e;
  --green: #5ea95e;

}
