.light {
	--background-color: #ffffff;
	--inverted-color: #232323;
	--primary-color: #18171c;
	--secondary-color: #2f2e32;
	--elements-color: #f3f3f3;
	--accent-color: #9966cc;
	--text-color: #444444;
	--light-red: #d88ca0;
	--red: #e76464;
	--green: #81c784;
	--main-color: #2f311d;
	--main-secondary-color: #e8f99b;
	--gradient: linear-gradient(
		90deg,
		rgb(240 247 255) 0%,
		rgb(255 243 253) 100%
	);
}
