.app_light_theme {
	--background-color: #ffffff;
	--inverted-color: #232323;
	--primary-color: #18171c;
	--secondary-color: #e5e5e5;
	--elements-color: #f3f3f3;
	--accent-color: #9966cc;
	--text-color: #444444;
	--light-red: #d88ca0;
	--red: #e76464;
	--green: #81c784;
}
