.UserTab {
	min-height: 100vh;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}
.avatarBlock {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.header {
	width: 95%;
	height: 200px;
	border-radius: 30px 0 0 0;
	background: var(--gradient);
}
.avatar {
	width: 175px;
	height: 175px;
	position: relative;
	border: 3px solid var(--background-color);
}
.avatar {
	background: var(--gradient);
}
.underHeaderBlock {
	width: 95%;
	display: flex;
	justify-content: space-evenly;
}
.profileControl {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	top: -75px;
}
.profileTitle {
	width: 250px;
	white-space: pre-wrap;
}
.controlButton {
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.actionButton {
	padding: 5px;
}
.userInfoBlock {
	width: 95%;
}
.actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 72px;
}
.table {
	min-width: 500px;
}
@media screen and (max-width: 768px) {
	.userInfoBlock {
		overflow: auto;
	}
	.avatarBlock {
		width: 100vw;
	}
	.profileControl {
		left: 20px;
		top: 0;
	}

	.avatar {
		width: 100px;
		height: 100px;
	}
	.underHeaderBlock {
		width: 100vw;
		width: 100vw;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		top: -40px;
		position: relative;
	}
	.controlButton {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		padding: 20px;
	}
}
