.DashboardLayout {
	width: 100%;
	height: 100vh;
}
.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
}
.layout {
	display: flex;
}
.sidebarWrapper {
	display: flex;
	position: relative;
	height: 100%;
}
@media screen and (max-width: 639px) {
	.sidebarWrapper {
		display: none;
	}
}
.contentWrapper {
	padding: 20px;
}
.navbarWrapper {
	position: relative;
	width: 100%;
	height: fit-content;
}
@media (min-width: 1400px) {
	.contentWrapper {
		max-width: 1400px;
	}
}
