.Input{
  padding: 0 30px;
  border-radius: var(--button-border-radius);
}

.outline{
  height: 50px;
  border: var(--primary-color) 2px solid;
  color:var(--primary-color);
  font-size: 16px;
}

.outline::placeholder{
  color:var(--primary-color);
}

.readonly{
  border: var(--grey) 2px solid;
  color: var(--grey);
}

.readonly::placeholder{
  color: var(--grey);
}

.clear{
  border: none;
  color: var(--primary-color);
}
.primary {
  width: auto;
}
.full{
  width: 100%;
}
