.Input {
	height: 50px;
	padding: 0 30px;
	border-radius: var(--button-border-radius);
}

.outline {
	border: var(--primary-color) 1px solid;
	color: var(--primary-color);
	font-size: 16px;
}

.outline::placeholder {
	color: var(--primary-color);
	opacity: 0.5;
}

.readonly {
	border: var(--grey) 1px solid;
	color: var(--grey);
}

.readonly::placeholder {
	color: var(--grey);
}

.fill {
	border: 1px solid var(--primary-color);
	background: var(--elements-color);

	color: var(--primary-color);
}

.fill::placeholder {
	color: var(--primary-color);
	opacity: 0.5;
}

.clear {
	border: none;
	color: var(--primary-color);
}

.primary {
	width: auto;
}

.full {
	width: 100%;
}

.roundedLg {
	border-radius: 30px;
}

.white {
	background: var(--color-white);
}
