.group {
	@apply relative h-[44px] w-full cursor-pointer;
}

.icon {
	opacity: 0;
}

.group:hover .icon {
	opacity: 1;
}

.group:hover .checkIcon {
	display: none;
}

.task {
	border: 2px solid var(--color-decor-3);
	@apply h-[44px] rounded-xl w-[90px] flex items-center justify-center cursor-pointer;
}
