.LangSwitcher {
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--inverted-color);
  transition: all var(--animation-delay);
  font-size: var(--font-size-l);
  user-select: none;

  svg {
    color: var(--inverted-color);

  }
}

.changeLang {
  svg {
    position: absolute;

  }

  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  animation: ease var(--animation-delay) infinite lang-switch;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang {
  p {

    color: var(--inverted-color);
  }
}

@keyframes lang-switch {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(540deg);
  }
}
