.LangSwitcher {
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  transition: all 0.4s;
  font-size: var(--font-size-l);
  user-select: none;
}

.changeLang {
  svg {
    position: absolute;
  }

  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  animation: ease .4s infinite lang-switch;
}

.icon{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}



@keyframes lang-switch {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(540deg);
  }
}
@media screen and (max-width: 768px) {
  .LangSwitcher{
    color: var(--accent-color);

  }
}
