.title {
  max-width: 200px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  @apply font-light text-2xl cursor-pointer;
}

.actionButton {
  @apply w-fit px-2 py-1 rounded-lg flex justify-center items-center bg-gray-50
}

.description {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden; /* Сохраняем, чтобы скрыть лишний текст */
  text-overflow: ellipsis; /* Сохраняем, чтобы показать многоточие */
  height: calc(4 * 1.5em);
  line-height: 1em; /* Устанавливаем высоту строки */
  @apply text-sm text-gray-400 mt-5 w-full
}
