/* Layout.scss */

.layout-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Ensure the layout takes up at least the full viewport height */
}

.content {
	flex: 1; /* This allows the content to grow and push the footer to the bottom */
}

footer {
	background-color: #f1f1f1; /* Add your footer background color */
	text-align: center;
	padding: 20px;
	margin-top: auto; /* Pushes the footer to the bottom */
}
.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 600px;
	background-color: var(--color-decor-1);
	color: var(--accent-colors);
	margin: 10px;
	padding: 15px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	@apply rounded-xl max-640:w-[95vw];
}

.cookie-banner p {
	margin: 0;
	flex-grow: 1;
	@apply text-sm leading-6 max-640:text-[12px];
}

.cookie-banner button {
	color: #fff;
	border: none;
	padding: 20px 30px;
	cursor: pointer;
	margin-left: 20px;
	font-size: 14px;
}

.cookie-banner button:hover {
	background-color: #0056b3;
}
