.Navbar {
  display: flex;
  align-content: center;
  height: var(--navbar-height);
  width: 100vw;
  background: var(--elements-color);
  position: fixed;
  z-index: 10;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
}
.loginIcon{
  height: 70px;
  width: 70px;
  display: none;
  font-size: 30px;
}

.logoutDescription{
  display: none;
}
@media screen and (max-width: 450px) {
  .loginIcon{
    display: block;
  }
  .authButton{
    display: none;
  }
  .buttonLogout{
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100px;
    flex-direction: row
  }
  .logoutDescription{
    display: block;
  }
}
