@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gradient-text-standard {
	background: linear-gradient(45deg, var(--color-decor-2), #ff9090);

	background-size: 300% 300%;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient-animation 3s ease infinite;
}

.gradient-text-premium {
	background: linear-gradient(45deg, #000000, #919191);

	background-size: 200% 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradient-animation 3s ease infinite;
}
