.Logo {
	width: -webkit-fill-available;
	height: auto;
}
.logoButton {
	width: 100%;
	height: 100%;
}
.small {
	width: 80px;
}
.medium {
	width: calc(var(--sidebar-width) - 80px);
}
.full {
	width: 100%;
}
