.Logo {
  fill: var(--inverted-color);
  font-weight: 800;
  height: auto;
}
.small{
  width: var(--sidebar-width-collapsed);
}
.medium{
  width: calc(var(--sidebar-width) - 80px);
}
.large{
  width: 300px;
}
