.logoButton {
	margin: 0;
	user-select: none;
}
.Logo {
	fill: rgb(46, 49, 29);
	max-height: 50px;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.small {
	width: auto;
}
.medium {
	width: calc(var(--sidebar-width) - 80px);
}
.full {
	width: 100%;
}
