.link {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	line-break: anywhere;
	max-height: 3em;
	line-height: 1.5em;
	width: 80%;
	cursor: pointer;
	@apply font-medium text-xl my-4;
}

.paragraph {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4.5em;
	line-height: 1.5em;
	@apply text-[var(--color-secondary)] font-light my-4;
}
