.Navbar {
	height: calc(var(--navbar-height) + 50px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper {
	display: flex;
	backdrop-filter: blur(5px);
	width: 90%;
	height: var(--navbar-height);
}

@media (min-width: 1400px) {
	.wrapper {
		max-width: 1400px;
	}
}
.links {
	display: flex;
}
