.DashboardNavbar {
	background: var(--color-decor-1);
	height: (--navbar-height);
}
.MenuDark {
	padding: 0;
}
.Menu {
	width: 80%;
	height: 100%;
	top: 0;
	margin-left: auto;
	background: var(--color-decor-1);
}
.MenuItem {
	width: 100%;
	height: 50px;
}
