.DashboardNavbar {
	background: #fff;
	backdrop-filter: none;
	height: var(--navbar-height);
}
.MenuDark {
	padding: 0;
}

.Menu {
	width: max-content;
	height: 100%;
	top: 0;
	margin-left: 40px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.MenuItem {
	width: auto;
	height: 50px;
}

.logoBlock {
	display: none;
	margin-right: auto;
}

.logo {
	height: 30px;
}

.logoTitle {
	font-size: 16px !important;
	margin-left: 12px;
}

@media screen and (max-width: 640px) {
	.logoBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: var(--navbar-height);
		padding: 0 20px;
		width: 116px;
	}
	.subscriptionButton {
		display: none;
	}
}

.popoverContent {
	background: var(--color-secondary);
	padding: 10px;
	width: 335px;
	min-height: 100px;
	height: auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.popoverButton {
	margin-top: 10px;
}
