.hover-circle {
	position: absolute;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	width: 100px; /* Adjust as needed */
	height: 100px; /* Adjust as needed */
	transform: translate(-50%, -50%);
}
