.PlatformExample {
	width: 80%;
	height: auto;
	position: relative;
}

.flex-container {
	display: flex;
	justify-content: center;
	gap: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.PlatformExample {
		width: 95%;
	}

	.flex-container {
		flex-direction: column;
		gap: 20px;
		align-items: center;
		position: relative;
		margin-top: 20px;
		bottom: auto;
	}
}
