.Circle {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--color-decor-2);
	cursor: pointer;
	z-index: 1;
	top: 45%;
	transform: translate(50%, -50%);
}
.button {
	margin-bottom: 8px;
	max-width: 350px;
	width: 100%;
	text-align: left;
	white-space: normal;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;

	@media (max-width: 1024px) {
		width: 220px;
	}
	@media (max-width: 768px) {
		width: 120px;
	}
	@media (max-width: 393px) {
		width: 100px;
	}
}
